body {
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.inline{
    display: flex;
}
.section{

    margin-top: 30px;
    margin-bottom: 30px;
    
}
.section.intro{
    width: 100%;
    height: 800px;
    box-shadow: 0 10px 30px 0 #a3aeb366;
}
    .bg-img{
        background-image: url("../images/back.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
        /*  */
    }
    .typo{
        position: relative;
        background-image: url("../images/typo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 40%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 230px; */
        animation: mymove 2s infinite;
        /* animation-delay: 1.5s; */
        animation-duration: 3s;
        animation-iteration-count:1;
        animation-fill-mode: forwards;
    }
    @keyframes mymove {
        from {top: 0px;}
        to {top: 160px;
        }
      }
.section.ourteam{
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}
.section .txt-header{
    padding-top: 100px;
    min-width: 100%;
}
    .txt-header h1{
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 80px;
        color: #0e3f52;
    }
.section .mem-wrapper{

}
    .section .mem-wrapper .person{
        
        background-color: #f1f0f1;
        margin: 19px;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: top;
        height: 600px;
        width: 350px;
        box-shadow: 0 10px 30px 0 #2c3d4494;
    }
    .section .mem-wrapper .person:hover{
        transform: scale(1.1);
    }
    #pers1 .person-intro{
        background-color: #aad4b3;
        color: #fff;
    }
    #pers2 .person-intro{
        background-color: #86cdd7 !important;
        color: #fff;
    }
    #pers3 .person-intro{
        background-color: #ffe5b9 !important;
        color: #fff;
        
    }
    .person-intro{
        margin: 0;
        text-align: center;        
        padding-bottom: 22px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .info-wrapper{
        display:;
    } */
    .person-intro .name{
        font: bold 25px/30px 'Economica', sans-serif;
    }
    .person-intro .describle{
        font: 300 20px/25px 'Economica', sans-serif;
    }
    .pers-img{
        width: 100%;
        height: 350px;
    }
    #pers1 .pers-img{
        background-image: url("../images/Lam.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #pers2 .pers-img{
        background-image: url("../images/Long.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #pers3 .pers-img{
        background-image: url("../images/Nga.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
