
body{
    background-color: #f2f3f8;
    padding: 30px;
    color: #575962;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.inline{
    display: flex;
}

.body{
    
    background-color: #fff;
    padding: 30px;
}
.image-wrapper{
    /* box-shadow: 0 1px 15px 1px rgba(40, 39, 51, 0.08); */
    align-items: center;
}
.cover{
    background-color: #84bffa;
    height: 300px;
    width: 900px;
    box-shadow: 0 1px 15px 1px rgba(79, 78, 100, 0.08);
}
.avatar-image-border{
    border-radius: 125px;
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: 0 1px 15px 1px rgba(79, 78, 100, 0.08);
    /* margin-top: -60px; */
    align-items: center;
    margin-left: 20px;
}
.avatar{
    background-color: #fff;
    border-radius: 125px;
    width: 250px;
    height: 250px;
}
.edit-photo-icon{
    cursor: pointer;
    position: absolute;
    top: 225px;
    left: 210px;
    width: 300px;
    
}
.essential-info{
    width: 250px;
    text-align: center;
    padding-top: 10px;
    margin-left: 20px;
    color: #5f57c9;
}
.essential-info .name{
    font-weight: bold;
    font-size: 26px;
}
/* edit form */
.form-alert{
    color: #fff;
    background-color: #f66e84;
    border-color: #f55f78;
    display: table;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.alert_icon{
    display: table-cell;
}
.alert_text{
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 1.45rem 1.25rem;
    color: #fff;
    display: none;
}
.alert_close{
    display: table-cell;
}
#form_1{
    align-items: center;
}
.form-group{
    display: flex;
}
.form-group input {
    
}
.label-input{
    width: 200px;
    display: flex;
    font-weight: 700;
    color: #636469;
}
span.required-input{
    color: #f00;
}
.content-input span{
    color: #a0a0a5;
    font-size: 12px;
    
}

.content-input {
    width: 442px;
}
.form_actions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_actions button{
    margin: 0 20px;
}
.border-error{
    border: 0.5px solid #f4516c;
}
.err-notis{
    color: #f4516c;
    font-size: 12px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.infor-header{
    /* border-bottom: 1px solid #ebedf2; */
    display: table;
    width: 100%;
    height: 5.1rem;
    margin-top: 30px;
}
    .infor-caption{
        display: table-cell;
    vertical-align: middle;
    text-align: left;
    }
    .infor-title{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0;
        list-style: none;
        border-bottom: 1px solid #0000;
        padding: 0;
        text-align: right;
        vertical-align: middle;
    }
    .nav-link{
        border-color: #0000 !important;
        color: #7b7e8a;
        border-bottom: 1px solid #0000 !important;
    }
    .nav-link:hover{
        color: #3f4047 !important;
        border-bottom: 1px solid #3f4047 !important;
    }
    .nav-link.active{
        color: #3f4047 !important;
        border-color: #0000;
        border-bottom: 1px solid #3f4047 !important;
    }

.primary-btn{
    margin-left: 20px;
    background: linear-gradient(135deg,#9791e8 30%,#716aca 100%);
    color: #fff;
    border: 0!important;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .65rem 1.25rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    overflow: visible;
}


/* thong tin dk */
.portlet{
    background: #fff;
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    /* margin-bottom: 2.2rem; */
    /* padding: 30px; */
}
    .portlet-header{
        background-color: #2c2a4e;
        border-color: #2c2a4e;
        height: 4.1rem;
        border-bottom: 1px solid #ebedf2;
        display: table;
        /* padding: 0 2.2rem; */
        width: 100%;
        position: relative;
        cursor: pointer;
    }
        .subject-name{
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            color: #f2f3f8;
            font-weight: 900;
            padding-left: 20px;
        }
        .right-tools{
            position: absolute;
            right: 10px;
            line-height: 4.1rem;
            height: 4.1rem;
        }
        .open-dropdown{
            color: #f1f1f5;
            font-size: 40px;
            text-align: right;
            cursor: pointer;
        }
        .dropdown_wrapper{
            top: 100%;
            text-align: left;
            display: none;
            z-index: 1100;
            width: 245px;
            border-radius: 6px;
            background: #fff;
            padding-left: 10px;
            border: 0.5px solid #f1f1f5;
            box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
        }
        .dropdown_wrapper ul.navv{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .dropdown_wrapper .li-wrapper-nav{
            /* position: absolute;  */
            /* align-items: center; */
        }
        
        .dropdown_wrapper ul li{
            display: flex;
            color: #6f727d;
            font-weight: 400;
            cursor: pointer;
            position: relative;
            outline: 0!important;
            padding: 9px 0px;
            
            
        }
        .dropdown_wrapper ul li:first-child{
            display: block;
            color: #716aca;
            font-weight: 600;
        }
        .dropdown_wrapper ul li:hover{
            color: #716aca;
        }
        .dropdown_wrapper .nav_link-icon{
            width: 20px;
            height: 20px;
        }
        .dropdown_wrapper ul li:last-child {
            
            border-top: 0.5px solid #dfdfe2;
        }
        .dropdown_wrapper ul li:last-child span{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            color: #f55f78;
            border-radius: 60px ;
            border: 1px solid #f4516c;
            font-size: .875rem;
            line-height: 1.5;
            padding: .35rem .75rem;
        }
        .dropdown_wrapper ul li:last-child span:hover{
            background-color: #f4516c;
            color: #fff;
        }
.portlet-body{
    background: #fff;
    padding: 2.2rem 2.2rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    color: #575962;
    border: 0.5px solid #efefef9e;
    box-shadow: 0 5px 10px 0 #9abdd65c;
}

label.newrow {
    float:left;
    width:100px;
}
span.errornote { 
    color:red;
}
form br {clear: both;}