
/* @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
}  */

element.style {
}
.row{
    margin: 0px;
}
.container-login-page{
    width: 100%;
    height: 100%;
}
#header{
    position:fixed;
    top:0px;
    height:68px;
    width:100%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.53);
}
    #header #left-header {
        /* float: left;
        overflow: hidden; */
    }
        #left-header .logo-header {
            /* width: 300px; */
            height: 68px;
        }
            #left-header .logo-header img{
                height: 68px;
            }
        .logo-header:hover{
            cursor: pointer;
        }
        #left-header .tittle-header{
            text-transform: uppercase;
            font-size: 22px;
            color: #1e7b33;
            vertical-align: middle;
            line-height: 68px;
            /* min-height: 68px;
            min-width: 160px; */
            text-align: center;
            white-space: nowrap;
            margin-left: 15px;
        }
        @media screen and (max-width: 1350px) {
            .tittle-header{
                text-transform: uppercase;
                font-size: 15px;
                color: #1e7b33;
                vertical-align: middle;
                line-height: 40px;
                text-align: center;
                white-space: nowrap;
            }
          }
        @media screen and (max-width: 990px) {
            .logo-header{
                display: none;
            }
        }
        
    

    #header #right-header {
        position: absolute;
        right: 40px;
    }
        ul.right-nav{
            margin:3px;
        }
            ul.right-nav li {
                list-style-type: none;
                border: 1px solid #000;
                margin-left: 20px;
                padding: 5px;
            }
                ul.right-nav li:hover {
                    cursor: pointer;
                    background-color:#000;
                    color:#fff;
                }
                ul.right-nav li a:hover {
                    cursor: pointer;
                    background-color:#000;
                    color:#fff;
                }
            .right-nav ul li {
                display: block;
            }

    #content{
        /* margin-top: 70px; */
        height: 100%;
    }
#footer{
    position:fixed;
    color: #fff;
    bottom:0;
    width:100%;
    background-color:#10575a6e;
    padding:5px;
    text-align:center;
}


/* Home header */
.label_left_header{
    /* line-height: 70px;    */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.option_right_header{
    vertical-align: middle;
}
.option_right_header_wrapper{
    padding: 0 12px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.option_right_header_link{
    position: relative;
    margin: 0 auto;
    width: auto;
    padding: 9px 0;
    display: table;
    table-layout: fixed;
    height: 100%;
    text-decoration: none;
    outline: 0!important;
    vertical-align: middle;
    touch-action: manipulation;
    color: #5867dd;
    text-align: -webkit-match-parent;
    list-style: none;
}


@media (min-width: 993px){
    .home-header {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 101;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        flex: none;
    }
    .header-stack{
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
    }
    .header-wrapper .home-title, .header-nav{
        display: table-cell;
        vertical-align: top;
        height: 100%;
    }
    .home-header-logo{
        height: 70px!important;
        transition: none;
    }
    .menu_toggle{
        transition: none;
        height: 70px!important;
    }
    .ic_menu_toggle a{
        display: inline-block!important;
    }
    .header-nav{
        width: 100%;
        display: table-cell;
        vertical-align: top;
        height: 100%;
        transition: none;
        background-color: #fff;
    }
    .left_body-header{
        width: auto;
        float: left;
        height: 100%;
        margin: 0 0 0 15px;
        
    }

}
@media (max-width: 992px){
    .home-header {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 101;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px!important;
    }
    .header-wrapper .home-title{
        width: 100%;
        position: relative;
        height: 60px!important;
        padding: 0 25px;
        z-index: 2;
    }
}
    .header-wrapper{
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .header-wrapper .home-title{
        background: #282a3c;
        transition: none;
        width: 255px;
        padding: 0 20px;
    }
        .home-title .home-title-wrapper{
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;
        }
        .home-header-logo{
            vertical-align: middle;
            display: table-cell;
            line-height: 0;
            color: #fff;
            cursor: pointer;
        }
        .link-logo-wrapper{
            color: #fff;
            text-decoration: none !important;
            background-color: transparent;
        }
        .ic_menu_toggle_wrapper{
            vertical-align: middle;
            display: table-cell;
            line-height: 0;
            text-align: right;
            position: relative;
        }
        .ic_menu_toggle {
            width: 27px;
            height: 70px;
            line-height: 70px;
            vertical-align: middle;
            cursor: pointer;
            position: absolute;
            right: 0;
            overflow: hidden;
            margin-top: -14px;  
            padding: 0;
            font-size: 0;
            text-indent: -9999px;
            -webkit-appearance: none;
            outline: 0!important;
            transition: all .4s ease;
            background-image: url("../images/menutoggle.png");
            background-repeat: no-repeat;
            background-size: 145%; 
        }
    
    .left_body-header .left_header_item{
        text-align: center;
        padding: 15px 27px;
        cursor: pointer;
    }

        li{
            list-style-type: none;
        }
        .ic_arrow{
            background-image: url("../images/arr_icon.png");
            background-repeat: no-repeat;
            background-size: 222%;
            width: 20px;
            height: 20px;
            background-position: 2px -10px;
            cursor: pointer;
        }
        .left_header_item a{
            color: #212529;
        }
    
    .right_body-header{
        position: absolute;
        right: 40px;
        color: #fff;
        top: 0;
        color: #000;
    }
    .ic-search{
        background-image: url("../images/search-Icon.png");
        background-repeat: no-repeat;
        background-size: 112%;
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
    /* .username{
        text-transform: uppercase;
    } */
    .app-name{
        text-transform: uppercase;
    }
    .avatar-wrapper{
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        line-height: 0;
    }
    .avt-img{
        height: 30px;
        width: 30px;
        border-radius: 15px;
    }
    .name{
        text-transform: uppercase;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    .msv{
        width: 100%;
        font-size: 11px;
        text-align: center;
    }
    .right_header_item{
        padding: 15px 7px;
    }
    .searchbar{
        /* border: 0.5px solid #dadada;
        padding: 2px;
        background-color: #f4f5f8; */
        border-color: #f4f5f8;
        color: #575962;
        display: block;
        width: 100%;
        padding: .35rem 0.25rem;
        font-size: 1rem;
        line-height: 1.25;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        overflow: visible;
        outline: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    #quicksearch_input{
        border: none;
        outline: none;
    }
    .dropdown_wrapper{
        top: 70px;
        position: absolute;
        right: 0;
        text-align: left;
        display: none;
        z-index: 1100;
        width: 245px;
        border-radius: 6px;
        background: #fff;
        padding-left: 10px;
        border: 0.5px solid #f1f1f5;
        box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
    }
    .dropdown_wrapper ul.navv{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .dropdown_wrapper .li-wrapper-nav{
        /* position: absolute;  */
        /* align-items: center; */
    }
    
    .dropdown_wrapper ul a, .dropdown_wrapper ul li{
        text-decoration: none !important;
        display: flex;
        color: #6f727d;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        outline: 0!important;
        padding: 9px 0px;
        
        
    }
    .dropdown_wrapper ul li:first-child{
        display: block;
        color: #716aca;
        font-weight: 600;
    }
    .dropdown_wrapper ul a:hover{
        color: #716aca;
    }
    .dropdown_wrapper .nav_link-icon{
        width: 20px;
        height: 20px;
    }
    .dropdown_wrapper ul li:last-child {
        
        border-top: 0.5px solid #dfdfe2;
    }
    .dropdown_wrapper ul li:last-child span{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: #f55f78;
        border-radius: 60px ;
        border: 1px solid #f4516c;
        font-size: .875rem;
        line-height: 1.5;
        padding: .35rem .75rem;
    }
    .dropdown_wrapper ul li:last-child span:hover{
        background-color: #f4516c;
        color: #fff;
    }

    



    
    