*{
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    height: 100vh;
    position: relative;
}
a{
    text-decoration: none;
}
@media (max-width: 992px) and (min-width: 769px){
    body, html {
        font-size: 13px;
        overflow: hidden;
        margin: 0;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
    }

}
@media (max-width: 992px) {
    .body{
        flex: 1 0 auto;
        transition: padding-top;
        padding-top: 60px;

    }
    
}

.container-fluid{
    /* box-sizing: inherit; */
    margin: 0;
    padding: 0;
    height: 100%;
}
.home-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#menu{
    position: absolute;
    width: 230px;
    top: 0;
    bottom: 0;
    /* background: #025F97; */
}

#main{    
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 230px;
}
.inline{
    display: flex;
}

.body{
    flex: 1 0 auto;
    background-color: #f2f3f8;
}

@media (min-width: 993px) {
    .body{
        display: flex;
        flex-direction: row;
        background-color: #f2f3f8;
        padding-top: 70px!important;
    }
    .body_content{
        flex: 1;
    }
    
}
.body_content{
    height: 100%;
    width: 100%;
}
/* .content{
    padding: 10px;
    background-color: #fff;
} */

    .admin-role, .student-role, .root-role{
        display: none;
    }
    #footer {
        position: fixed;
        color: #fff;
        bottom: 0;
        width: 100%;
        background-color: #5662636e;
        padding: 5px;
        text-align: center;
    }
    
    
