body {
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.inline{
    display: flex;
}
.section{

    margin-top: 30px;
    margin-bottom: 30px;
    
}
a{
    text-decoration: none !important;
}

.section.total-up{
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.section .txt-header{
    /* padding-top: 100px; */
    min-width: 100%;
}
    .txt-header h3{
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 80px;
        color: #0e3f52;
        margin: 0;
    }
.section .content-wrapper{

}
    .section .content-wrapper .spec{
        
        background-color: #f1f0f1;
        margin: 19px;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: top;
        height: 600px;
        width: 350px;
        box-shadow: 0 10px 30px 0 #2c3d4494;
    }
    .section .content-wrapper .spec:hover{
        transform: scale(1.1);
    }
    #spec1 .spec-intro{
        background-color: #aad4b3;
        color: #fff;
    }
    #spec2 .spec-intro{
        background-color: #86cdd7 !important;
        color: #fff;
    }
    #spec3 .spec-intro{
        background-color: #ffb9b9  !important;
        color: #fff;
        
    }
    .spec-intro{
        margin: 0;
        text-align: center;        
        padding-bottom: 22px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .info-wrapper{
        display:;
    } */
    .spec-intro .name{
        font: bold 25px/30px 'Economica', sans-serif;
    }
    .spec-intro .describle{
        font: 300 20px/25px 'Economica', sans-serif;
    }
    .spec-img{
        width: 100%;
        height: 350px;
    }
    #spec1 .spec-img{
        background-image: url("../images/student.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #spec2 .spec-img{
        background-image: url("../images/subject.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
    }
    #spec3 .spec-img{
        background-image: url("../images/room.jpg");
        background-size: 135%;
        background-repeat: no-repeat;
    }
