body {
    background-color: #f2f3f8;
    padding: 30px;
    /* height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: Poppins;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    -ms-text-size-adjust: 100%; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* position: relative; */
}
button{
    outline: none;
}
#excel-container{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none !important;
}

.inline{
    display: flex;
}

.subheader{
    padding: 10px 30px 30px 0px;
    align-items: center!important;
}
    .subheader-title{
        border-right: 1px solid #e2e5ec;
        padding: 7px 25px 7px 0;
        font-size: 1.55rem;
        font-weight: 500;
        vertical-align: middle;
        margin: 0 15px 0 0;
        color: #3f4047;
        line-height: 1.1;
    }
    .subheader-wrapper{
        width: auto;
        height: 100%;
        padding: 7px 0;
        margin: 0;
        list-style: none;
        vertical-align: middle;
    }
    .subheader-wrapper span{
        color: #898b96;
        display: table-cell;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        font-size: 1rem;
        font-weight: 400;
        
    }
    .subheader-wrapper li{
        padding-left: 8px;
    }

    .ic-home{
        background-image: url("../images/ic_home.png");
        background-repeat: no-repeat;
        background-size: 93%;
        width: 27px;
        height: 26px;
    }

.alert{
    background-color: #fff;
    margin-bottom: 20px;
}
.alert-icon{
    background-image: url("../images/alert-icon-3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 128px;
    height: 44px;
    max-width: 48px;
    max-height: 44px;
    margin-right: 5px;
  }
.alert-text{
    /* text-align: center; */
    color: #575962;
}

/* input account */
.input-method{
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    background-color: #fff;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.input-method-head{
    border-bottom: 1px solid #ebedf2;
    display: table;
    width: 100%;
    height: 5.1rem;
}
.input-method-head ul{
    position: absolute;
    right: 60px;
}
.input-method-caption{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.input-method-caption h3{
    display: table;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 500;
    color: #575962;
}
.input-method-title{
    padding: 0;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.input-method-content{
    color: #575962;
    margin-top: 10px;
}
.nav.nav-tabs{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabs-line {
    border-bottom: 1px solid #ebedf2;
    margin: 0 0 25px 0;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.tabs-items{
    /* margin-right: 30px; */
    margin-bottom: -1px;
}
/* .nav.nav-tabs .nav-link {
    font-weight: 400;
    border-color: #0000 !important;
    color: #7b7e8a;
    border-bottom: 1px solid #0000 !important;
}
.nav-link.active, .nav-link:hover {
    color: #3f4047 !important;
    border-bottom: 1px solid #3f4047 !important;
} */
.nav-link{
    border-color: #0000 !important;
    color: #7b7e8a;
    border-bottom: 1px solid #0000 !important;
}
.nav-link:hover{
    color: #3f4047 !important;
    border-bottom: 1px solid #3f4047 !important;
}
.nav-link.active{
    color: #3f4047 !important;
    border-color: #0000;
    border-bottom: 1px solid #3f4047 !important;
}

.tab-content>.active {
    display: block;
}
.select-btn{
    color: #524c4c;
    background-color: #eaeaf3;
    border-color: #e0def5;
    outline: 0;
    height: 28px;
    border-radius: 3px;
    cursor: pointer;
}
.direct-btn{
    box-shadow: 0 5px 10px 2px rgba(113,106,202,.19);
    border-radius: 60px;
    cursor: pointer;
    -webkit-appearance: button;
    color: #fff;
    background-color: #8d87e4;
    background-image: none;
    padding: .35rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0.5px solid #8d87e4;
    margin: 0 6px;
    
}
.direct-btn:hover{
    box-shadow: 0 5px 10px 2px rgba(113,106,202,.26);
    color: #fff;
    background-color: #716aca;
    border-color: #716aca;
}

/* input form */
.form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* .form{
    
} */
.form-alert{
    color: #fff;
    background-color: #f66e84;
    border-color: #f55f78;
    display: table;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.alert_icon{
    display: table-cell;
}
.alert_text{
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 1.45rem 1.25rem;
    color: #fff;
    display: none;
}
.alert_close{
    display: table-cell;
}
#form_1{
    align-items: center;
}
.form-group{
    display: flex;
}
.form-group input {
    
}
.label-input{
    width: 200px;
    display: flex;
}
span.required-input{
    color: #f00;
}
.content-input span{
    color: #a0a0a5;
    font-size: 12px;
    
}

.content-input {
    width: 442px;
}
.form_actions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_actions button{
    margin: 0 20px;
}
.border-error{
    border: 0.5px solid #f4516c;
}
.err-notis{
    color: #f4516c;
    font-size: 12px;
}
.default-btn, .btn-primary {
    margin-left: 20px;
    background: linear-gradient(135deg,#9791e8 30%,#716aca 100%);
    color: #fff;
    border: 0!important;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .65rem 1.25rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    overflow: visible;
}
/* .icon{
    width: 35px;
    height: 40px;
    color: #716aca;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 40px;
} */
.btn-icon{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: none;
    padding: 0;
    margin-right: 15px;
}
.info_icon{
    width: 35px !important;
    height: 35px;
    background-image: url("../images/info_icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.edit_icon{
    width: 35px !important;
    height: 35px;
    background-image: url("../images/edit-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.delete_icon{
    width: 35px !important;
    height: 35px;
    background-image: url("../images/delete_icon.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -9px -2px;
}

/* data table */
.portlet{
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    background-color: #fff;
    margin-top: 20px;
}
.portlet-head{
    border-bottom: 1px solid #ebedf2;
    width: 100%;
    padding: 0 2.2rem;
    height: 4.3rem;
    
}
.portlet-head h3{
    /* display: table-cell; */
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: 500;
    color: #575962;
    text-align: left;
    height: 100%;
    margin-top: 20px;
}
.portlet-head .right-dropdown-nav{
    padding-top: 14px;
    position: absolute;
    right: 70px;
}
.portlet-head .right-dropdown-nav ul{
    list-style-type: none;
}
.portlet-head .right-dropdown-nav ul li p{
    color: #716aca;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
.dropdown_wrapper{
    top: 100%;
    text-align: left;
    display: none;
    z-index: 1100;
    width: 245px;
    border-radius: 6px;
    background: #fff;
    padding-left: 10px;
    border: 0.5px solid #f1f1f5;
    box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
}
.dropdown_wrapper ul.navv{
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropdown_wrapper .li-wrapper-nav{
    /* position: absolute;  */
    /* align-items: center; */
}

.dropdown_wrapper ul li{
    display: flex;
    color: #6f727d;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    outline: 0!important;
    padding: 9px 0px;
    
    
}
.dropdown_wrapper ul li:first-child{
    display: block;
    color: #716aca;
    font-weight: 600;
}
.dropdown_wrapper ul li:hover{
    color: #716aca;
}
.dropdown_wrapper .nav_link-icon{
    width: 20px;
    height: 20px;
}
.dropdown_wrapper ul li:last-child {
    
    border-top: 0.5px solid #dfdfe2;
}
.dropdown_wrapper ul li:last-child span{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #f55f78;
    border-radius: 60px ;
    border: 1px solid #f4516c;
    font-size: .875rem;
    line-height: 1.5;
    padding: .35rem .75rem;
}
.dropdown_wrapper ul li:last-child span:hover{
    background-color: #f4516c;
    color: #fff;
}
.portlet-body{
    color: #575962;
    padding: 2.2rem 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dataTables_length select[name=data_table_length]{
    color: #575962;
    margin-left: 15px;
    font-size: 1rem;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #b8bccac7;
    border-radius: .25rem;
    overflow: visible;
    outline: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.searchbar-wrapper{
    margin-bottom: 30px!important;
    margin-top: 20px!important;
    align-items: center!important;
    display: flex;
    flex-wrap: wrap;
}
.searchbar{
    min-height: 1px;
    padding-right: 15px;
}
.search_input{
    background-color: #f4f5f8;
    border-color: #f4f5f8;
    color: #575962;
    display: block;
    width: 100%;
    padding: .65rem 1.25rem;
    font-size: 1rem;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    overflow: visible;
    outline: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.table-datatable{
    display: block;
    height: auto;
    overflow-x: auto;
    background-color: #fff;
    border-collapse: collapse;
    overflow: hidden;
}

.table-datatable thead, .table-datatable tbody{
    visibility: visible;
    /* display: block; */
    border-collapse: collapse;
}
.table-datatable thead tr{
    height: 53px;
    /* display: table; */
    table-layout: initial;
    width: 100%;
    background: #f4f3fb;
    text-align: left;
}

.table-datatable tbody tr{
    height: 64px;
    /* display: table; */
    table-layout: initial;
    width: 100%;
    background: #f4f3fb;
    text-align: left;
}
.table-datatable tbody tr:nth-child(odd){
    background-color: #fff;
}
.table-datatable tbody tr:nth-child(even){
    background-color: #fbfbfe;
}
.table-datatable tbody tr td, .table-datatable thead tr th{
    display: table-cell;
    vertical-align: middle;
    padding: 11px 10px;
    font-size: 1rem;
    box-sizing: inherit;
    width: 360px !important;
}
.table-datatable thead tr span{
    width: 110px !important;
    color: #575962;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1rem;
}
.table-datatable tbody span{
    width: 110px;
    color: #575962;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    border-collapse: collapse;
}
.dataTables_length{
    margin: 10px 0;
    display: inline;
}
#data_table_filter{
    display: inline;
    float: right;
}
#data_table_filter [type=search]{
    /* border-color: #f4f5f8; */
    color: #575962;
    margin-left: 15px ;
    background-image: url("../images/search-Icon.png");
    background-repeat: no-repeat;
    background-size: 13%;
    /* display: block; */
    /* width: 100%; */
    padding: .35rem 0.3rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    /* background-image: none;
    background-clip: padding-box; */
    border: 1px solid #b8bccac7;
    border-radius: .25rem;
    overflow: visible;
    outline: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#data_table_info{
    color: #716aca;
    display: inline;
}
#data_table_paginate{
    display: inline;
    float: right;
    margin-top: 35px;
}
#data_table_previous, #data_table_next{
    color: #716aca;
    background: #edecf8;
    cursor: pointer;
    height: 2.25rem;
    width: 3.25rem;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 10%;
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.paginate_button{
    color: #898b96;
    cursor: pointer;
    height: 2.25rem;
    width: 2.25rem;
    padding: 5px 10px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}
.paginate_button.current{
    background: #716aca;
    color: #fff;
}

.edit-dialog{
    margin-top: 10px;
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
    height: calc(100vh - 10px);
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    background-color: #fff;
    display: none;
}
.edit-dialog #form_2{
    background-color: #f1f1f5;
    margin: 30px;
    padding: 15px;
    box-shadow: 4px 8px 15px 1px rgba(113,106,202,.08);
    zoom: 1.1;
}
/* .dark-back{
    position: fixed;
    width: 100vh;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.096);
} */


