body {
    background-color: #f2f3f8;
    padding: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    position: relative;
}
.alert {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}
.inline {
    display: flex;
}
.body{
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    background-color: #fbfbfb61;
    margin-top: 20px;
}
.alert-text {
    text-align: justify;
    text-align: justify;
    /* text-align: center; */
    color: #575962;
    height: 54px;
    overflow: hidden;
}

.portlet{
    background: #fff;
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    /* margin-bottom: 2.2rem; */
    padding: 30px;
}
    .portlet-header{
        background-color: #146498;
        border-color: #146498;
        height: 4.1rem;
        border-bottom: 1px solid #ebedf2;
        display: table;
        /* padding: 0 2.2rem; */
        width: 100%;
        position: relative;
        cursor: pointer;
    }
        .subject-name{
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            color: #f2f3f8;
            font-weight: 700;
            padding-left: 20px;
        }
        .right-tools{
            position: absolute;
            right: 10px;
            line-height: 4.1rem;
            height: 4.1rem;
        }
            .drop-down-tool{
                padding: 0;
                display: table-cell;
                width: 30px;
                height: 30px;
                color: #fff;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                line-height: 4.1rem;
            }
            .drop-up-tool{
                padding: 0;
                display: table-cell;
                width: 30px;
                height: 30px;
                color: #fff;
                text-align: center;
                align-items: center;
                vertical-align: middle;
                line-height: 4.1rem;
            }
            .dropup-wrapper{
                display: none;
            }
    .portlet-body{
        background: #fff;
        padding: 2.2rem 2.2rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        color: #575962;
        border: 0.5px solid #efefef9e;
        box-shadow: 0 5px 10px 0 #9abdd65c;
    }
.btn-bar{
    background: #fff;
    /* box-shadow: 0 1px 15px 1px rgba(113,106,202,.08); */
    /* margin-bottom: 2.2rem; */
    padding: 10px;
    /* position: relative; */
}
    .primary-btn{
        /* position: absolute; */
        /* margin-right: 20px; */
        box-shadow: 0 5px 10px 2px rgba(113,106,202,.19);
        border-radius: 5px;
        cursor: pointer;
        -webkit-appearance: button;
        color: #fff;
        background-color: #8d87e4;
        background-image: none;
        padding: .35rem 1.75rem;
        font-size: .875rem;
        line-height: 1.5;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 0.5px solid #8d87e4;
        margin: 0 20px;
    }
.temp-result{
    margin-top: 30px;
    /* position: fixed; */
    bottom: 2px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 1px 15px 1px rgba(202, 194, 106, 0.08);
    /* right: 30px; */
}
    .portlet-header-result{
        background-color: #388fa0;
        border-color: #388fa0;
        height: 3rem;
        border-bottom: 1px solid #ebedf2;
        display: table;
        width: 100%;
        position: relative;
        cursor: pointer;
    }


    /* table */
.portlet-body table{
    display: block;
    height: auto;
    overflow-x: auto;
    background-color: #fff;
    border-collapse: collapse;
    overflow: hidden;

}
     .portlet-body table thead, .portlet-body table tbody{
        border-collapse: collapse;
    }
        .portlet-body table thead tr{
            height: 53px;
            table-layout: initial;
            width: 100%;
            background: #f4f3fb;
            text-align: left;
        }
             .portlet-body table thead tr th{
                display: table-cell;
                vertical-align: middle;
                padding: 11px 10px;
                font-size: 1rem;
                box-sizing: inherit;
                width: 260px !important;
            }

        .portlet-body table tbody tr{
            height: 64px;
        table-layout: initial;
        width: 100%;
        background: #f4f3fb;
        text-align: left;
        }
         .portlet-body table tbody tr:nth-child(odd){
            background-color: #fff;
        }
        .portlet-body table tbody tr:nth-child(even){
            background-color: #fbfbfe;
        }
             .portlet-body table tbody tr td{
                display: table-cell;
                vertical-align: middle;
                padding: 11px 10px;
                font-size: 1rem;
                box-sizing: inherit;
                width: 260px !important;
            }
            .reg{
                border: 1px solid #716aca;
            }

            button[action=dereg]{
                box-shadow: 0 5px 10px 2px rgba(113,106,202,.19);
                border-radius: 5px;
                cursor: pointer;
                -webkit-appearance: button;
                color: #fff;
                background-color: #e85959;
                background-image: none;
                padding: .35rem 1.75rem;
                font-size: .875rem;
                line-height: 1.5;
                display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 0.5px solid #d69393;
            }