body{
    background-color: #f2f3f8;
    color: #575962;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    /* height: 100vh; */
}
.wrapper-center{
  width: 100%;
  padding-right: 30px;
}
.content{
    
    background-color: #fff;
    /* margin: 30px; */
    width: 100%;
    height: 100%;
}
.inline {
    display: flex;
}
div.ng-scope{
    width: 100%;
}
.left-frame{
    width: 40%;
    height: 100%;
}
.right-frame{
    width: 60%;
    height: 100%;
}
.heading {
    margin: 10px;
  }
 
  body .content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    height: auto;
  }
  
  .stepper {
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 0.5px solid #f2f3f8;
  }
  .stepper .step {
    position: relative;
    min-height: 32px;
  }
  .stepper .step > div:last-child {
    margin-left: 32px;
    padding-left: 16px;
  }
  .stepper .step .step-heading {
    position: static;
    height: 33px;
    color: #575962;
    padding-bottom: 30px;
    cursor: pointer;
    font-size: 20px;
  }
  .stepper .step .step-heading.active .circle {
    background: #E91E63;
  }
  .stepper .step .step-heading .circle {
    background: rgb(144, 187, 228);
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: #fff;
    text-align: center;
    float: left;
  }
  .stepper .step .step-heading .title {
    line-height: 32px;
    padding-left: 15px;
    float: left;
  }
  .stepper .step .body {
    /* padding-bottom: 30px; */
    color: #4084c5;

  }
  .stepper .step .body span{
    padding-bottom: 15px;
  }
  .stepper .step .line {
    position: absolute;
    border-left: 1px solid rgb(144, 187, 228);
    left: 16px;
    bottom: 0px;
    top: 32px;
  }
  .stepper .step .btn {
    color: #192f9b !important;
  }
  .btn:hover, .custom-file-control:hover::before {
    /* color: rgba(0, 0, 0, 0.87); */
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
}
  .stepper .step .btn.btn-bg {
    background: rgb(144, 187, 228);
  }

  .step.active{
    font-weight: bold;
  }
  
  .default-btn {
    /* margin-left: 20px;
    background: linear-gradient(135deg,#5867dd 30%,#36a3f7 100%);
    color: #fff;
    border: 0!important;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .65rem 1.25rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    overflow: visible; */
        
    position: relative;
    margin-bottom: 0.3125rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background: rgb(144, 187, 228);
    border: 0;
    outline: 0;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.46875rem 1rem;
    border-radius: 0.125rem;
}
.content-step-2{
  display: none;
}
.content-step-2 .infor-caption{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #5f289c;
}
.content-step-3{
  display: none;
}
.content-step-3 #shift-date, #shift-time-start, #shift-time-end{
  color: #575962;
  margin-left: 15px;
  font-size: 1rem;
  line-height: 1.25;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #b8bccac7;
  border-radius: .25rem;
  overflow: visible;
  outline: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.content-step-4{
  display: none;
}
.content-step-1{
  display: block;
}
.table-name{
  border-bottom: 1px solid #ebedf2;
  width: 100%;
  padding: 0 2.2rem;
  height: 2.1rem;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
}
.table-wrapper{
  padding: 0 2.2rem;
  width: 100%;
}
.setup-info{
  background: #7d9cf1c9;
  padding: 0px 30px;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  display: none;
}
#subject{
  border-bottom: 1px solid #ebedf2;
    width: 100%;
    padding: 0 2.2rem;
    height: 2.1rem;
    font-weight: 600;
    font-size: 22px;
}

[name *=data_table_length]{
  color: #575962;
  margin-left: 15px;
  font-size: 1rem;
  line-height: 1.25;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #b8bccac7;
  border-radius: .25rem;
  overflow: visible;
  outline: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
[id *= data_table_filter], [id *= data_table_paginate]{
  display: inline;
  float: right;
}
[id *=data_table_filter] [type=search]{
  color: #575962;
  margin-left: 15px;
  background-image: url(../images/search-Icon.png);
  background-repeat: no-repeat;
  background-size: 13%;
  /* display: block; */
  /* width: 100%; */
  padding: .35rem 0.3rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid #b8bccac7;
  border-radius: .25rem;
  overflow: visible;
  outline: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}