.ic_home{
    color: #525672;
    width: 35px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
}
.inline{
    display: flex;
}
#aside_left{
    background: #2c2e3e;
    width: 255px;
    height: 100vh;
    margin-top: -70px;
    padding-top: 70px;
}
.role-name span{     
    width: 299px;
    text-align: right;
    padding-right: 15px !important;    
    cursor: context-menu;
}
.ul-menu-list{
    list-style: none;
    padding: 30px 0px;
    /* font-size: 30px; */
}
.list-title{
    padding: 10px 10px;
}
.li-menu-item{
    margin: 20px 0 0 0;
    height: 40px;
    vertical-align: middle;
    padding-left: 15px;
}
.option-item-active{
    background-color: #292b3a;
}
.li-menu-item a{
    text-decoration: none;
    height: 40px;
}
.li-menu-item:hover{
    background-color: #292b3a;
    cursor: pointer;
}

.ul-menu-list li span{
    color: #c9cbe2;
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 40px;
}
.ul-menu-list li i.icon_wrapper{
    width: 35px;
    height: 40px;
    color: #c9cbe2;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 40px;
}
.role-name{
    position: relative;
    margin: 0;
    padding: 0;
    
   
}
#role-name span{
    color: #716aca !important;
    font-weight: 400;
    font-size: 1.02rem;
    text-transform: initial;
}
.list-item-wrapper{
    display: table;
    width: 100%;
    vertical-align: middle;
    
}
.list-item-wrapper ul{
    margin: 0;
    /* padding: 0 27px; */
}
.list-item-wrapper ul li{
    margin: 0;
    padding: 0 13px;
}
.list-item-wrapper ul li:visited{
    color: #868aa8;
}
.list-item-wrapper ul li:active, .list-item-wrapper ul li:focus{
    background-color: #1d1e29;
}
.list-title h4{
    color: #464b66;
    font-size: .83rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
}

@media (max-width: 1000px){
     #aside_left{
        width: 64px;
        margin-top: 0;
    }.header-wrapper .home-title{
        width: 60px;
    }
    #aside_left span, #aside_left h4, .home-title span.home-tit-sp, .left_body-header  {
        display: none;
    }
    #aside_left .list-item-wrapper ul li{
        padding: 0 9px;
    }
}