body {
  background-color: #f2f3f8;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.inline{
  display: flex;
}

.assigned{
    background-color: thistle;
}
.alert{
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}
.alert-icon{
  background-image: url("../images/alert-icon-3.png");
  background-repeat: no-repeat;

  background-size: contain;

  background-size: contain;

  background-size: 100%;

  width: 128px;
  height: 44px;
  max-width: 48px;
  max-height: 44px;
  margin-right: 5px;
}
.alert-text{

  text-align: justify;

  text-align: justify;

  /* text-align: center; */
  color: #575962;
  height: 54px;
  overflow: hidden;
}

.upfile{
  box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
  background-color: #fff;
  margin-top: 20px;
}

.portlet-head{
  /* border-bottom: 1px solid #ebedf2; */
  display: table;
  padding: 0 2.2rem;
  height: 5.1rem;
}
.portlet-head h3{
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3rem;
  font-weight: 500;
  color: #575962;
  text-align: left;
}

.action-upfile{
  color: #575962;
  padding: 2.2rem 2.2rem;
  border-top: 1px solid #ebedf2;
  
}
.right-action-upfile{
  align-items: center;
  display: none;
}


.input-file-container {
  position: relative;
  width: 225px;
  margin-right: 220px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #36a3f7;
  border-color: #36a3f7;
  color: #fff;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background-color: #1192f6;
  border-color: #0a8cf0;
  color: #fff;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.default-btn{
  margin-left: 20px;
  background: linear-gradient(135deg,#5867dd 30%,#36a3f7 100%);
  color: #fff;
  border: 0!important;
  -webkit-appearance: button;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .65rem 1.25rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  overflow: visible;
}
.default-btn:hover{
  background: linear-gradient(135deg,#36a3f7 30%,#00c5dc 100%);
}
@media (max-width: 900px){
  .action-upfile{
    display: block;
  }
  .input-file-container{
    margin-bottom: 20px;
  }
}
#sheets{
  color: #fff;
  background-color: #716aca;
  border-color: #716aca;
  outline: 0;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}
#sheets:focus, #sheets:hover{
  box-shadow: none;
  color: #fff;
  background-color: #716aca;
  border-color: #716aca;
}

.select-key{
  width:100%;
  height: 30px;
  color: #575962;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
}
.select-key:focus, .select-key:hover{
  box-shadow: none;
  color: #575962;
  background-color: #fff;
  border-color: #fff;
}
.select-key option{
  height: 30px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  /* border-radius: 10px; */
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  }

  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }

  table thead tr {
    height: 50px;
    background: #38633e;
    text-transform: uppercase;
    border-bottom: 0.2px solid #5d8e6a;
  }
  table thead tr:first-child {
    height: 80px;
    background: #38633e;
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  @media screen and (max-width: 992px) {
    table {
      display: block;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
    table tbody tr td:nth-child(1):before {
      content: "Date";
    }
    table tbody tr td:nth-child(2):before {
      content: "Order ID";
    }
    table tbody tr td:nth-child(3):before {
      content: "Name";
    }
    table tbody tr td:nth-child(4):before {
      content: "Price";
    }
    table tbody tr td:nth-child(5):before {
      content: "Quantity";
    }
    table tbody tr td:nth-child(6):before {
      content: "Total";
    }
    tbody tr {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  /* Close button */

  .del-button {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #f44;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: block;
    z-index: 200;
    text-indent: -9999px;
  }
  .del-button:before,
  .del-button:after {
    content: '';
    width: 55%;
    height: 3px;
    background: #fff;
    position: absolute;
    top:45%;
    left: 25%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .del-button:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .del-button:hover:before,
  .del-button:hover:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }